:root{
    --colorprincipal: rgb(0, 0, 0);
    --colorsecundario: white;
    --fontFamilyDosis: 'Dosis', sans-serif;
    --fontFamilyFjalla: 'Fjalla One', sans-serif;
    --fontFamilyIndieEspecial: 'Indie Flower', cursive;
    --fontFamilyKanitLL: 'Kanit', sans-serif;
    --fontFamilyMukta: 'Mukta', sans-serif;
    --fontFamilyNunito: 'Nunito', sans-serif;
    --fontFamilyRajdhani: 'Rajdhani', sans-serif;
    --fontFamilyShadowsEspecial: 'Shadows Into Light', cursive;
    --fontFamilySplineLL: 'Spline Sans Mono', monospace;
    --fontFamilyUbuntuLL: 'Ubuntu', sans-serif;
    }
*{
    box-sizing: border-box;
    font-weight: 300;
    margin: 0;
}
a{
    text-decoration: none;
    color: var(--colorprincipal);
}

/* Estilos para el header general */
.header{
    position: sticky;
    left: 0;
    top: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    color: var(--colorsecundario);
}

/* Estilos para la parte superior del header */
.header-publicidad{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    width: 100%;
    padding: 5px 70px;
    font-size: 13px;
    gap: 10px;
}

.publicidad-link{
    display: flex;
    flex-direction: row;
    gap: 7px;
    align-items: center;
}

.publicidad-link a{
    color: var(--colorsecundario);
    text-decoration: none;
}

.publicidad-logo{
    width: 27px;
    height: auto;
}

.publicidad-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}
/* fin de los estilos del header superior, la publicidad */

/* Estilos para el header principal, con los links y el loogo */

.header-main{
    display: flex;
    flex-direction: row;
    height: 70px;
    padding: 0 80px;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    box-shadow: 1px 1px 5px black ;
}

.header-logo{
    width: 70px;
    height: auto;
}

.car{
    font-size: 15px;
}

.navegacion{
    display: flex;
    flex-direction: row;
    gap: 60px;
    height: 100%;
    align-items: center;
}
.heavy{
    font-weight: 500;
}

.navegacion-link{
    padding: 25px 5px;
    height: 100%;
}

.navegacion-link:hover{
    border-bottom: 4px solid;
}

.navegacion-link:hover ~ .header-menu-despegable{
    display: flex;
}

.header-menu-despegable:hover{
    display: flex;
}

.header-menu-despegable{
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: absolute;
    /* height: 500px; */
    left: 0;
    top: 100%;
    display: none;
    padding: 20px 80px;
    flex-direction: column;
    align-items: center;
    transition: 1s all ease-in;
    box-shadow: 0px 2px 6px black;
}

.menu_cel{
    display: none;
    color: black;
    cursor: pointer;
}

.despegable-tittle{
    margin-bottom: 10px;
    font-size: 40px;
}

.des-columnas{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: stretch;
}

.despegable-columna{
    width: 25%;
    padding: 0 20px;
}

.columna-contenido{
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
    color: black;
}

.columna-contenido ul{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.columna-contenido h3{
    font-weight: 600;
}

.columna-contenido a:hover{
    border-bottom: 1px solid;
}

.despegable-img{
    width: 100%;
    height: auto;
}

.header-icons{
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 20px;
}

.icons{
    color: var(--colorprincipal);
}
/* fin del header completo */

/* Estilos para el footer */

.footer{
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links{
    display: flex;
    width: 100%;
    padding: 0 80px;
    justify-content: center;
    flex-wrap:wrap;
    margin-bottom: 40px;
    margin-top: 40px;
    gap: 10px;
    align-items:flex-start;
}

.links-column{
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.links-column h3{
    font-weight: 600;
}

.links-column a{
    font-weight: 100;
    display: inline-block;
}

.footer-info{
    width: 100%;
    background-color: black;
    color: white;
    padding: 30px 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.info-column{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.redes{
    font-size: 45px;
}

/* fin de estilos para el footer */


/* Estilos para ser responsive con @Media */
@media (max-width: 768px){
    
    /* Estilos para el header en movil */
    
    .header-main{
        padding: 0 40px;
        justify-content:space-between;
    }
    
    .menu_cel{
        display: block;
        order: 3;
        font-size: 30px;
    }
    
    .header-icons{
        order: 2;
    }
    
    .header-logo{
        order: 1;
    }
    
    .navegacion{
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: center;
        position: fixed;
        left: 0;
        top: 0;
        padding: 40px 0;
        width: 100%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        z-index: 2;
        transform: translateX(160%);
        transition: all 0.5s ease-in-out;
    }
    
    .header-menu-despegable{
        background-color: rgb(255, 255, 255);
        width: 100%;
        position: fixed;
        /* height: 500px; */
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        padding: 40px 20px;
        align-items: center;
        box-shadow: 0px 0px;
        height: 100%;
        transform: translateX(100%);
        transition: 0.5s all ease-in-out;
    }
    
    .des-columnas{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;
    }
    
    .despegable-cont{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
    }
    
    .despegable-columna{
        width: 100%;
        padding: 0 0px;
        margin-bottom: 10px;
    }
    
    .columna-contenido{
        height: auto;
        gap: 40px;
        margin-bottom: 10px;
    }
    
    .columna-contenido ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 40px;
        list-style: none;
        font-size: 20px;
    }
    
    .despegable-img{
        width: 50%;
        height: auto;
        display: none;
    }
    
    .columna-contenido h3{
        font-size: 30px;
    }
    
    .navegacion-link{
        height: 100%;
        padding: 40px 100vw 25px;
        font-size: 25px;
    }
    
    /* fin del header movil */
    
    /* Estilso para el footer movil */
    
    .links-column{
        padding: 0 20px;
    }
    
    .footer-links{
        padding: 0 10px;
    }
    
    .footer-info{
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }
    
    .info-column{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        text-align: center;
    }
    
    .footer-mapa{
        overflow: auto;
        width: 100%;
    }
    /* fin del footerm movil */
    
    /* clases comodines */
    
    
    .arrow{
        position: absolute;
        top: 1%;
        left: 3%;
        z-index: 4;
        color: black;
        font-size: 40px;
        cursor: pointer;
    }
    
    .salir{
        z-index: 3;
        position: absolute;
        right: 3%;
        top: 1%;
        color: black;
        font-size: 40px;
        cursor: pointer;
    }

    
    .mostrar{
        transform: translateX(0);
    }
    /* fin de las clases comodines */
    
}
